<div class="mt-4 mb-4">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Les livres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Les emprunts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Connexion</a>
        </li>
    </ul>
</div>