<div class="p-5 mt-4 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Bienvenue sur BiblioApp</h1>
    <p class="col-md-8 fs-4">Gérer la logistique de votre bibliothèque avec BiblioApp. Ajouter autant de clients que vous souhaitez ainsi que d'emprunts grâce à une interface intuitive.</p>
    <button class="btn btn-success btn-lg" type="button">Voir les livres</button>
    </div>
</div>