{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

{% include "partials/_hero.html.twig" %}

<div class="mt-5">
    <h2 class="text-center">Lisez nos derniers articles <span class="badge rounded-pill bg-danger">Nouveau</span></h2>
</div>
{% include "partials/_cards.html.twig" %}

<hr class="mt-5">

<div class="row align-items-md-stretch">
    <div class="col">
    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Tableau d'aministration</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Accéder</button>
    </div>
    </div>
</div>

{% include "partials/_modal.html.twig" %}

{% endblock %}
